@+template:
<dummy.container>
	<!-- override this method in your own component -->
</dummy.container>

@+elementOptions:
<!-- override this options for custom-element options and return a json string -->
<dummy.container>{}</dummy.container>

@+elementName:
<!-- to embed your view.scss and view.html::template into an hcf.web.Container instance a element name is required, 
	by default it is the components hcfqn in lowercase with dots replaced by dashes.
	override this template in your own component to use another element name. 
	The string returned is the name of your custom-element. -->
<dummy.container>{{method:genericElementName}}</dummy.container>
