@+template:
<dummy.container>
	<!-- override this method in your own component -->
</dummy.container>

@+elementOptions:
<!-- override this options for custom-element options and return a json string -->
<dummy.container>{}</dummy.container>

@+elementName:
<!-- to embed your view.scss and view.html::template into an hcf.web.Container instance, override this 
	method in your own component. The string returned is the name of your custom-element. -->
<dummy.container>no-component</dummy.container>
